/*  your css code here. If applicable */
.hero {
	display:flex;
	justify-content:flex-start;
	align-items: center;
	height:100vh;
}
.hero img {
	width:800px;
	height:auto;
	object-fit:cover;
}
.btn {
	border:none;
	padding:5px;
	background-color:red;
	color:white;
}
.hero-content {
  width: 40%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}